# 1. Import Library

In [1]:
import numpy
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils
numpy.random.seed(10)

Using TensorFlow backend.
D:\Users\Birwin\anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:458: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
D:\Users\Birwin\anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:459: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
D:\Users\Birwin\anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:460: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
D:\Users\Birwin\anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:461: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
D:\Users\Birwin\anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:462: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
D:\Users\Birwin\anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:465: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

# 2.資料準備、預先處理

In [2]:
all_df = pd.read_csv(r"C:\Users\Birwin\Desktop\wagon\uwamp\www\DL_HW05\iris_dataset\iris.csv")

In [3]:
cols=['sepal.length','sepal.width','petal.length' ,'petal.width', 'variety'] 
all_df=all_df[cols] #將all_df[cols]存入all_df

In [7]:
all_df[cols]

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [11]:
all_df['variety'] = all_df['variety'].map({'Setosa':0, 'Versicolor': 1, 'Virginica': 2}).astype(int) #因為variety是string透過這個方法將它變成數字(int)

In [12]:
X = all_df.values[:,0:4] #特徵部分
Y = all_df.values[:,4] #類別資料部分

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42) #對資料進行切割

In [14]:
encoder = LabelEncoder() 
Y_encoded = encoder.fit_transform(Y_train) 
Y_onehot_train = np_utils.to_categorical(Y_encoded) #對Y_train(Label)進行Onehotcode

In [15]:
encoder = LabelEncoder()
Y_encoded = encoder.fit_transform(Y_test) 
Y_onehot_test = np_utils.to_categorical(Y_encoded) #對Y_test(Label)進行Onehotcode

In [16]:
print('total:',len(all_df),
      'train:',len(X_train),
      'test:',len(X_test))

total: 150 train: 100 test: 50

# 3. Create Model

In [ ]:
from keras.models import Sequential
from keras.layers import Dense,Dropout

In [ ]:
model = Sequential() #建立線性堆疊模型

In [ ]:
#使用model.add方法，加入Dense神經網路層
model.add(Dense(units=5, input_dim=4,#輸入層4個神經元，隱藏層1:5個神經元 
                kernel_initializer='uniform', #使用uniform distribution分佈的亂數，初始化weight與bis
                activation='relu')) #定義激活函數relu

In [ ]:
model.add(Dense(units=7, #隱藏層2:7個神經元
                kernel_initializer='uniform', 
                activation='relu'))

In [ ]:
model.add(Dense(units=3, 
                kernel_initializer='uniform',
                activation='softmax'))